html, body {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom left, rgb(125, 148, 211), rgb(132, 20, 132));
  background-attachment: fixed;
}

.newCymbalForm {
  margin-bottom: 10px;
}

.equipmentCountContainer {
  font-size: 17px;
}

.equipmentCountRow {
  margin: 5px
}

.totalCymbalCountRow {
  margin-top: 14px;
  font-size: 20px;
}