html,
body {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to bottom left,
    rgb(125, 148, 211),
    rgb(132, 20, 132)
  );
  background-attachment: fixed;
}

button {
  border-radius: 7px;
  background-color: rgb(141, 184, 222);
}

.delete {
  background-color: rgb(234, 112, 137);
}

.newEquipmentForm {
  margin-bottom: 10px;
}

.equipmentCountDisplayContainer {
  margin: 25px;
  font-size: 17px;
}

.equipmentCountRow {
  margin: 7px;
}

.totalEquipmentCountRow {
  margin: 25px;
  font-size: 20px;
  font-weight: bold;
}

.resetButton {
  margin: 15px;
}